# Laravel
/vendor
/node_modules
/public/build
/public/hot
/storage/*.key

# Environment files
.env
.env.backup
.env.production

# Logs
npm-debug.log
yarn-error.log

# IDE
/.idea
/.vscode

# OS
.DS_Store
Thumbs.db

# Laravel cache
/bootstrap/cache/*.php
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*